<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_PATH" value="${LOG_PATH:-${user.dir}}" />
	<property name="LOG_NAME" value="${LOG_NAME:-${APP_NAME}}" />
	<property name="LOG_FILE" value="${LOG_NAME}.log" />
	<property name="LOG_LEVEL" value="${LOG_LEVEL:-INFO}" />

	<logger name="org.springframework" level="WARN" />
	<logger name="ascelion" level="INFO" />

	<springProfile name="dev">
		<include resource="logback-dev.xml"/>
	</springProfile>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_PATH}/${LOG_FILE}</file>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%-40logger{40}] %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${LOG_LEVEL}</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%logger{20}] %msg%n</pattern>
		</encoder>
	</appender>

	<!-- avoid log pollution with silly warning related to empty examples -->
	<logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="ERROR" />

	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
