<?xml version="1.0" encoding="UTF-8"?>
<included>
	<property name="LOG_LEVEL" value="ALL" />

	<logger name="org.springframework" level="INFO" />
	<logger name="org.springframework.security" level="ALL" />
	<logger name="org.springframework.actuate" level="INFO" />

	<logger name="ma.glasnost.orika" level="DEBUG" />

	<logger name="ascelion" level="ALL" />

</included>
